*{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    grid-template-areas: 
    "aside section";
    grid-template-columns: 750px 750px;
    display: grid;
    width: 100%;
    height: 100vh;
    cursor: pointer;
}
.aside{
    grid-area: aside;
    background-color: #e83e8c;
    opacity: 0.8;
}
.img1{
    position: relative;
    top: 20px;
    left: 20px;
}
.img2{
    position: absolute;
    bottom: 60px;
    left: 38%;
}
.img3{
    position: absolute;
    top: 150px;
    left: 80px;
}
.img4{
    position: absolute;
    left: 20px;
    bottom: 60px;
}
.img5{
    position: absolute;
    top: 200px;
    left: 0px;
}
.img6{
    position: absolute;
    top:150px;
    left: 42%;
}
.img7{
    position: absolute;
    top: 0px;
    left: 25%;
}
.div1{
    margin-top: 30px;
    margin-left: 80px;
    text-align: center;
}
.a{
  grid-template-columns: 300px 300px 300px;
  padding-right: 10px;
  font-weight: bolder;
  color: #000;
  text-decoration:underline;
  font-size: 20px;
}
i{
    font-size: 30px;
    padding-right: 20px;
}
.language{
    font-size: 20px;
    display: inline-block;
    font-weight: bold;
}
.dropdown{
    display: none;
}
.language:hover~.dropdown{
    display: block;
    position: absolute;
    top: 70px;
    left: 86.5%;
    border: 1px solid gray;
    padding: 15px 10px;
}
.div2{
    margin-top: 150px;
    margin-left: 90px;
    width: 400px;
    height: 250px;
    cursor: text;
}
.p1{
    padding-bottom: 20px;
}
.h1{
    font-size: 50px;
    padding-bottom: 10px;
}
.p2{
    padding-bottom: 10px;
}
.maindiv{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.div3{
    margin-top: 50px;;
    margin-left: 120px;
}
.div4{
    margin-top: 100px;
    margin-left: 0px;
    cursor: text;
}
.div5{
    margin-top: 100px;
    margin-left: 0px;
    cursor: text;
}
.btn{
    margin-top: 100px;
    color: #000;
    border: 1px solid black;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    padding: 10px;
}
.btn:hover{
    background-color: #000;
    color: #fff;
}
.container2{
    background-image: url("https://www.infermentum.it/_upload/_big/1713362537.3386_Il_Biscotto-Muscovado-e-Cannella_Taglio-per-sito.jpg");
    background-attachment: fixed;
    width:100%;
    height:1000px;
    background-repeat: no-repeat;
    background-size: cover;
}
.container3{
    grid-template-areas:
        "aside1 section1"
    ;
    grid-template-columns: 750px 750px;
    background-color: bisque;
    height: 90vh;
}
.container3{
    display: flex;
}
.aside1{
    grid-area: aside1;
}
.div6{
    width: 505px;
    height: 590px;
    margin-left: 100px;
}
.child1{
    margin-top: 60px;
    font-size: 25px;
    margin-bottom: 20px;
}
.child2{
    font-size: 18px;
    padding-bottom: 10px;
}
.child4{
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 5px;
}
.child6{
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 5px;
}
.child8{
    padding-top: 20px;
    font-size: 25px;
    padding-bottom: 10px;
}
.child9{
    display: grid;
    grid-template-columns: 380px 350px;
    padding-bottom: 5px;
}
.child10{
    display: grid;
    grid-template-columns:457px 350px ;
    margin-top: 10px;
    padding-bottom: 5px;
}
.child11{
    display: grid;
    grid-template-columns: 465px 350px;
    margin-top: 10px;
    padding-bottom: 5px;
}
.child12{
    display: grid;
    grid-template-columns: 457px 350px;
    margin-top: 10px;
    padding-bottom: 5px;
}
.child{
    display: grid;
    grid-template-columns: 200px 200px;
}
.child13{
    margin-top: 30px;
}
.child14{
    margin-top: 30px;
}
.section1{
   padding-top: 50px;
   padding-left: 100px;
}
.heading1{
    text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
     margin-top: 60px;
     margin-bottom: 20px;
}
.para1{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.content{
    position: relative;
    display: inline-block;
    left: 50px;
}
.two{
    display: none;
    position: absolute;
    top: 0%;
    left: 50%;
    bottom: 53px;
}
.content:hover .two{
    display: block;
}
.content:hover .one{
    display: none;
}
.x1{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 70px;
}
.x2{
    cursor: pointer;
}
.r1{
    width: 200px;
    height: 200px;
}
.r2{
    margin-left: 50px;
}
.r3{
    left: 50%;
    padding: 10px;
    font-size: 15px;
}
.r4{
    display: flex;
    padding: 5px;
    align-items: center;
    margin-top: -30px;
    gap: 10px;
    margin-top: 5px;
    margin-right: 5px;
}
.sb{
    font-size: 10px;
    padding: 10px;
    border-radius: 15px;
}
.sb:hover{
    background-color: black;
    color: #fff;
}
footer{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    background-color: #000;
    color: #fff;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}
.links li, .list li{
    padding: 5px;
}
.list{
    width: 250px;
}
.icons{
    justify-content: space-around;
}
.social{
    margin-left: 40px;
    margin-bottom: 30px;
    position: fixed;
    bottom: 0%;
}
.desert{
    position: fixed;
    bottom: 0%;
    left: 92%;
    display: flex;
    flex-direction: column;
}
.desert p{
    font-weight: bold;
    padding-left: 10px;
}